## Experiment No. 03
## Shubham Anil Khalate
## 2317062
## AIDS-A3

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("data.csv")

In [7]:
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [11]:
df["age"].count()

48842

In [15]:
df["educational-num"].mean()

10.078088530363212

In [19]:
df["age"].min()

17

In [21]:
df["age"].max()

90

In [25]:
df.size

732630

In [35]:
df["age"].mean()

38.64358543876172

In [37]:
df.shape

(48842, 15)

In [45]:
df["occupation"].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
?                    2809
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [51]:
df["occupation"].value_counts().count()

15

In [55]:
df["income"].value_counts()

income
<=50K    37155
>50K     11687
Name: count, dtype: int64

In [79]:
df["age"].where

<bound method Series.where of 0        25
1        38
2        28
3        44
4        18
         ..
48837    27
48838    40
48839    58
48840    22
48841    52
Name: age, Length: 48842, dtype: int64>

In [71]:
df["age"].isnull().count()

48842

In [81]:
df["age"].notnull().count()

48842

In [83]:
df["hours-per-week"].notnull().count()

48842

In [94]:
df["gender"].value_counts()

gender
Male      32650
Female    16192
Name: count, dtype: int64

In [96]:
df["race"].value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [98]:
df["workclass"].value_counts()

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

In [108]:
df["age"].astype

<bound method NDFrame.astype of 0        25
1        38
2        28
3        44
4        18
         ..
48837    27
48838    40
48839    58
48840    22
48841    52
Name: age, Length: 48842, dtype: int64>

In [112]:
df["fnlwgt"].value_counts().count()

28523

In [114]:
df["workclass"].value_counts().count()

9

In [120]:
df["educational-num"].where

<bound method Series.where of 0         7
1         9
2        12
3        10
4        10
         ..
48837    12
48838     9
48839     9
48840     9
48841     9
Name: educational-num, Length: 48842, dtype: int64>

In [122]:
df.where()

<bound method DataFrame.where of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [140]:
ages=df["age"]

In [144]:
df.where(ages>50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48839,58.0,Private,151910.0,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0.0,0.0,40.0,United-States,<=50K
48840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48841,52.0,Self-emp-inc,287927.0,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024.0,0.0,40.0,United-States,>50K

In [150]:
df.where(ages>50).value_counts().count()

9807

In [166]:
df["age"].where(ages>50).dropna().count()

9808

In [186]:
df1=df.groupby(['income','age','gender'])

In [188]:
print(df1.first())

                          workclass  fnlwgt     education  educational-num  \
income age gender
<=50K  17  Female           Private   40299          11th                7
           Male             Private  269430          10th                6
       18  Female                 ?  103497  Some-college               10
           Male             Private   54440  Some-college               10
       19  Female           Private  355313       HS-grad                9
...                             ...     ...           ...              ...
>50K   84  Male        Self-emp-inc  172907  Some-college               10
       85  Male        Self-emp-inc  155981     Bachelors               13
       88  Male    Self-emp-not-inc  263569          11th                7
       90  Female           Private  197613       HS-grad                9
           Male             Private  149069    Assoc-acdm               12

                       marital-status         occupation   relationship  \
income age gender
<=50K  17  Female       Never-married              Sales      Own-child
           Male         Never-married  Machine-op-inspct  Not-in-family
       18  Female       Never-married                  ?      Own-child
           Male         Never-married      Other-service      Own-child
       19  Female       Never-married  Machine-op-inspct  Not-in-family
...                               ...                ...            ...
>50K   84  Male    Married-civ-spouse              Sales        Husband
       85  Male               Widowed    Exec-managerial  Not-in-family
       88  Male    Married-civ-spouse    Farming-fishing        Husband
       90  Female       Never-married       Adm-clerical  Not-in-family
           Male    Married-civ-spouse              Sales        Husband

                    race  capital-gain  capital-loss  hours-per-week  \
income age gender
<=50K  17  Female  White             0             0              25
           Male    White             0             0              40
       18  Female  White             0             0              30
           Male    White             0             0              20
       19  Female  White             0             0              40
...                  ...           ...           ...             ...
>50K   84  Male    White             0             0              35
       85  Male    White             0             0              40
       88  Male    White          6418             0              40
       90  Female  White             0             0              40
           Male    White             0          1825              50

                  native-country
income age gender
<=50K  17  Female  United-States
           Male    United-States
       18  Female  United-States
           Male    United-States
       19  Female  United-States
...                          ...
>50K   84  Male    United-States
       85  Male    United-States
       88  Male    United-States
       90  Female  United-States
           Male    United-States

[273 rows x 12 columns]